:root {
    --ukojnia-light: #8E6484;
    --ukojnia-dark: #381529;
    --ukojnia-beige: #F6E7CB;
}

* {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: "Cormorant", serif;
    font-weight: bold;
    font-size: 112px;
    color: var(--ukojnia-beige);
    text-shadow: -2px -2px #678D58;
    white-space: nowrap;
}

h2 {
    font-family: "Cormorant", serif;
    font-weight: medium;
    font-size: 90px;
    color: var(--ukojnia-dark);
}

p{
    font-family: "Montserrat", sans-serif;
    font-weight: light;
    font-size: 16px;
    color: var(--ukojnia-light);
}

header{
    height: 100vh;
    display: flex;

}

nav {
    font-family: "Poppins", sans-serif;
    font-weight: light;
    color: var(--ukojnia-dark);
}

header nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 91px;
    column-gap: 20px;
}

header nav a {
    width: 180px;
    height: 54px;
}

header p {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    color: var(--ukojnia-beige);
}

#intro {
    width: 516px;
    height: 249px;
}

section{
    height: 100vh;
}

article {
    display: flex;
}

.text {
    width: 40vw;
}

figcaption {
    font-family: "Montserrat", sans-serif;
    font-weight: medium;
    font-size: 14px;
    color: var(--ukojnia-light);
}

#whoami {
    background-color: #F5E2BD;
}